p img{
    position: relative;
    width: 180px;
    margin-right: 1em;
}

.pointer{
    cursor: pointer;
}

.move{
    animation: moveImage 2s forwards;
}

@keyframes moveImage{
    100%{
        transform: translateX(400px);
    }
}

.imagePos{
    transform: translateX(400px);

}
.fade{animation: fade 2s forwards;}

@keyframes fade{
    100%{
        opacity: 0.1;
    }
}
