.btn{
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.diagram{
     border: solid black 10px;
  height: 576px;
  width: 1024px;
  margin:auto;
}

.story{
  border: solid black 10px;
  height: 576px;
  width: 1024px;
  margin:auto;
}

.glow{
    animation: glow 1s infinite alternate ;
    border-radius: 100px;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #aef4af;
    }
    to{
        box-shadow: 0 0 10px 10px #aef4af;
    }
}

#bg {
  background-image: url(images/park.png);
  background-size: auto;
  border: solid black 10px;
  height: 576px;
  width: 1024px;
  margin:auto;
}
#dog {
  background-image: url(images/dog.png);
  background-size: auto;
  height: 112px;
  width: 181px;
  bottom:-22em;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
}
#owner {
  background-image: url(images/owner.png);
  background-size: auto;
  height: 286px;
  width: 120px;
  position: relative;
  left:0;
  bottom: -4.5em;
}
#bone{
  background-image: url(images/bone.png);
  background-size: auto;
  height:46px;
  width: 96px;
  position: relative;
  left:5em;
  top:-8em;
  display: none;

}
#time {
  background-image: url(images/sun.png);
  height:113px;
  width: 139px;
  position: relative;
  margin: auto;
}
